/*comentario*/
/* colores 
buscar los colores en color hunt y escribirlas*/

/* familia tipografica */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Libre+Baskerville&family=Pacifico&display=swap');
/*
font-family: 'Cabin', sans-serif;
font-family: 'Libre Baskerville', serif; 
font-family: 'Pacifico', cursive;*/

/* colores 
Verder #CBFFA9
rosa #FF9B9B
durazno #FFD6A5
amarillo #FFFEC4 */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* ajuste de la fuente*/
html{
    font-size: 62.5;
    font-family: 'Libre Baskerville', serif;;
}

/* Mobile */
@media screen and (max-width: 500px){
    header{
        background-color: aqua;
    }
    
}


/*Header*/

.logoheader{
    
    display: flex;
    flex-direction: column-reverse;
    margin-right: 20px;
}

.headerencabezado{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.gabilang{
    font-size: 200%;
    font-family:'Pacifico', cursive;
    color: palevioletred;
    display: flex;
    justify-content: center;
    position: relative;
    left: 60px;
}
header p{
    
    display: flex;
    justify-content: end;
}
.bienvenida{
    width: 88%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 5px;

}


header{
    width: 100%;
    background-color:#FFD6A5;
    font-size: 1rem;
    border: black solid 5px;
    
}
header img {
    width:80px;
    padding left: 10px;
  
}
header nav ul{
   
    border: black solid 5px;
    background-color: #FFD6A5;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.menu {
    position: sticky;
    top: 0px;
    background-color: #FFD6A5;
    flex-wrap: ;

}

.menu ul{
    width: 100%;
    font-size: 20px;
    border: black solid 5px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}




header nav li a {
    text-decoration: none;
    font-size: 1.1rem;
    
    
    
    
}


.barranavegador{

    padding: 5px 30px 5px 30px;
    margin: 0px;

        
}

/*pseudoclase*/

.botonNav:hover {
    color: red;
    font-size: x-large;

}


/*Main*/
main{
    background-image:    url(../medios/imagenes/fondo1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


/*Footer*/

footer img{
    width: 50px;
}
footer{
    background-color: #FFFEC4;
}
.redes{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;

}
.redestxt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.frases{
    font-size: 1.3rem;
    color: rgb(75, 138, 140);
    font-family: 'Pacifico', cursive;*/
    

}


/*Index*/
.encabezado{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    line-height: 200%;
    font-size: 1.1rem;
    font-family:'Cabin', sans-serif;
    color: cadetblue;
    padding-bottom: 40px;
}
.encabezado img{
    width: 40%;
}

main img{
    width: 50%;
}

.imgyvideo{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*recetas*/

.fotoreceta img{
    align-self: center;
    width: 30%;
    border: #020202 solid 10px;
}
/*GRID*/
.grid-padre img{
    width: 90%;
    height: 90%;
} 
.grid-padre{
    width: 90%;
    display: grid;
    grid-template-areas:
    "textogrid foto1grid"
    "foto2grid ingredientesgrid"
    "preparaciongrid preparaciongrid" ;

    grid-template-columns: 55% 35%;
    grid-template-rows: 250px 280px 400px;
    justify-content: center;
    row-gap:20px ;
    column-gap:10px;
}
.textogrid{
    grid-area: textogrid;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.foto1grid{
    grid-area: foto1grid;
    justify-self: center;
    align-self: center;
}
.foto2grid{
    grid-area: foto2grid;
    align-self: center;
}
.ingredientesgrid{
    grid-area: ingredientesgrid;
    align-self: center;

}
.preparaciongrid{
    grid-area: preparaciongrid ;
    text-align: justify;
    justify-self: start;
    align-self: normal;
}
.grid-padre .preparaciongrid h4{
    font-style: italic;
    text-decoration: underline solid;
    padding-bottom: 20px;
}
.preparaciongrid ol li{
    margin-bottom:5px ;
}


.receta{
    font-size: 1.2rem;
    list-style: square;
    margin-top: 100px;
    display: flex;
    flex-direction: column;

}
.receta h3{
    text-decoration: underline;
}
.receta h2{
   padding-top: 20px;
   padding-bottom: 20px;
   text-align: center;
}

.imgmedia{
    width: 250px;
    height: 250px;
}

.filareceta{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 10px;
}

.volver{
    display: flex;
    justify-content: right;
    margin-right: 100px;
}


/*contacto*/

.contacto{
    background-color: blanchedalmond;
}
.inputenvio{
    border: 5px green outset;
}


/*productos*/

.imgproducts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.slide {
    margin-top: 10px;
}
.slide img {
    justify-content: center;


}


/* Mobile */
@media screen and (max-width: 500px){
    
    .barranavegador{

padding: 5px 5px 5px 5px;
    }
    
    .video{
        width: 40%;
    }
    .bienestarimg{
        display: none;
    }
            
    }
    

