/*comentario*/
/* colores 
buscar los colores en color hunt y escribirlas*/

/* familia tipografica */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Libre+Baskerville&family=Pacifico&display=swap');
/*
font-family: 'Cabin', sans-serif;
font-family: 'Libre Baskerville', serif; 
font-family: 'Pacifico', cursive;*/

/* colores 
Verder #CBFFA9
rosa #FF9B9B
durazno #FFD6A5
amarillo #FFFEC4 */

/*variables*/
$verde:#CBFFA9;
$rosa:#FF9B9B;
$durazno: #FFD6A5;
$amarillo: #FFFEC4;

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* ajuste de la fuente*/
html{
    font-size: 62.5;
    font-family: 'Libre Baskerville', serif;;
}

/* Mobile */
@media screen and (max-width: 500px){
    header{
        background-color: aqua;
    }
    
}


@import "partials/_headerNav.scss";
@import "partials/_footer.scss";
@import "partials/_index.scss";
@import "partials/_recetas.scss";
@import "partials/_productos.scss";
@import "partials/_contacto.scss";
@import "partials/servicios";
@import "partials/_mediaQ.scss";










