/*contacto*/

.contacto{
    background-color: blanchedalmond;
    h1{
        padding-top: 2%;

    }
    h2{
        padding-top: 2%;
    }
    p{
        padding-top: 2%;

    }
    section{
        background-image: url(/medios/imagenes/surtido-personas-seguras-sonriendo_23-2148411467.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        p{
            padding-top: 7%;
            font-size: larger;
            display: flex;
            justify-content: center;
        }
        

    }
}
.inputenvio{
    display: flex;
    justify-content: center;
    border: 10px green outset;
}

.formu{
    padding-top: 15px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.mapa{
    display: flex;
    flex-direction: column;
    align-items: center;
}

