/*contacto*/

.contacto{
    background-color: blanchedalmond;
    h1{
        padding-top: 2%;

    }
    h2{
        padding-top: 2%;
    }
    p{
        padding-top: 2%;

    }
    section{
        form p{
            font-size: xx-large;
            display: flex;
            justify-content: center;
        }
        
        }

    }


.inputenvio{
    border: 5px green outset;
}

