

footer{
    background-color: #FFFEC4;
    .redestxt{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;

    }
    .redes{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        .frases{
            font-size: 1.3rem;
            color: rgb(75, 138, 140);
            font-family: 'Pacifico', cursive;

        }
    }
    img{
        width: 50px;
        }

 }
