
/* Mobile */
@media screen and (max-width: 500px){
    
    .barranavegador{

padding: 5px 5px 5px 5px;
    }
    
    .video{
        width: 40%;
    }
    .bienestarimg{
        display: none;
    }
            
    }