/*productos*/

.imgproducts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.slide {
    margin-top: 10px;
    img {
        justify-content: center;
    
    
    }
}
